<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://cdn1.epicgames.com/offer/6f43ab8025ad42d18510aa91e9eb688b/EGS_FINALFANTASYVIIREMAKEINTERGRADE_SquareEnix_S1_2560x1440-85f829541a833442eaace75d02e0f07d"
      height="200px"
      alt=""
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quisquam,
        ipsum, necessitatibus doloremque libero excepturi facilis eum amet
        dolore culpa ullam! Ratione fugit quo nulla delectus a atque, natus
        animi?
      </a>
    </p>
  </div>
</div>