<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://assetsio.reedpopcdn.com/Final-Fantasy-7-Remake-Review-Screenshot-1-04052020.jpg?width=1200&height=1200&fit=bounds&quality=70&format=jpg&auto=webp"
        alt=""
        srcset=""
      />
    </div>
    <div class="small-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
